@using DAL;
@model IEnumerable<Piosenka>

<h1>Piosenki</h1>

@if (Model == null || !Model.Any())
{
    <p>Brak piosenek dla tego chartu.</p>
}
else
{
    <ul>
        @foreach (var song in Model)
        {
            <li>@song.Nazwa</li>
        }
    </ul>
}